.Wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.Card {
  border: 1px solid black;
  border-radius: 10%;
  background-color: orange;
  max-width: 300px;
  padding: 20px;
   background: rgb(234, 226, 226);
   
}

.Card:hover {
  transform: translateY(-5px);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.wrapImg {
  position: relative;
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
}

.Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.wrapImg:hover .Image {
  transform: scale(1.2);
}

.p5 {
  margin-bottom: 5px;
}

ul li a:hover {
  color: blue;
}

.input {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  width: 500px;
  align-self: center;
}
